/*
editorcoder
SRJC CS55.13 Fall 2025
Weeks 16-17: Assignment 16: Final Hybrid Mobile App  
Header.module.css
2025-12-10
*/

.logoIcon {
  font-size: 1.25rem; /* Match header text size */
  font-weight: 500;
  line-height: 1.4; /* Match header line-height */
  display: inline-block;
  vertical-align: middle;
}

